body {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ffe280;
    height: 100vh;
    /* min-height: 790px;
    min-width: 730px;
    max-width: 1200px; */
    font-family: "Open Sans", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5cb73;
    width: 60%;
    height: 75%
}

.section-space {
    height: 10%;
}

section {
    display: flex;
    flex-direction: column;
    background-color: #e5cb73;
    width: 18%;
    height: 75%;
}

.section-space {
    height: 10%;
}

.select-game-view {
    display: flex;
    border: 2px solid;
    height: 89%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: calc(1vw + 1vh);
    margin: 4%
}

p {
    font-size: calc(.75vw + .75vh);
    margin: 0;
}

.classic,
.difficult {
    display: flex;
    background-color: #b7a25c;
    width: 65%;
    flex-direction: column;
    overflow: hidden;
}

.classic {
    height: 20%;
}

.difficult {
    height: 30%;
}


h1 {
    font-size: calc(3vw + 1vh);
}

h3 {
    margin: 0;
    font-size: calc(1vw + 1vh);
}

h4 {
    font-size: calc(1.5vw + 1vh);
}

h5 {
    font-size: calc(1.75vw + 1vh);
    margin: 1vh;
}

.game-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%
}

.classic-fighters {
    display: flex;
}

img {
    height: 16vw;
    width: 16vw;
}

.difficult-fighters {
    display: flex;
}